<%- include('layouts/header'); -%> <%- include('layouts/nav'); -%>

<main>
  <h2><%= blog.title%></h2>
  <p>
    <img class="postPageImage" src="/Images/posts/<%= blog.image%>" />
  </p>
  <h2><%- blog.content%></h2>
</main>
<%- include('layouts/footer'); -%>
